@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
main{
    margin-top: 17px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 80px;
    width: 100vw;
    top: 0;
}
.menu img{
    height: 50px;
    width: 50px;
    margin-left: 51px;
    margin-top: 30px;
    margin-bottom: 34px;
}
.menu button{
    height: 40px;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 177px;
    background-color: white;
    border: 2px solid #41DD70 ;
    border-radius: 9px;
    color: #41DD70;
    font-size: 16px;
    padding: 7px 25px;


}
.menu div{
    display: flex;
    flex-direction: row;
}
.menu div p{
    padding: 24px 0px 21px 70px;
    font-size: 20px;

}
body{
    font-family: 'Inter', sans-serif;
}
main div{
    background-color: #41DD70;
    height: 500px;
    
}
main div h1{
    position: relative;
    display: block;
    width: 575px;
    margin: 0 auto;
    top: 40%;
    color: #FFFFFF;
    font-size: 48px;
    text-align: center;
}
main div img{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 65%;
    display: block;
}
